[2020-07-19 20:53] b3u opened #1 "Notes should have proper metadata"
- twitter tags
- og tags
- seo tags
- page-specific titles.

[2020-07-19 20:56] b3u opened #2 "page preview for backlinks"
When hovering over a backlink, I would like to see a portion of the relevant page's content.

[2020-07-19 21:00] b3u opened #3 "Sidebar for notes/comments"
Using footnotes, currently. They need to be styled.

[2020-07-19 21:01] b3u opened #4 "display note tags"

[2020-07-19 21:05] binyamin opened #5 "page preview for all internal links"
For internal links, show a preview of the relevant page on hover. (Exactly like #2, but not just in the backlinks section.)

[2020-07-19 21:17] b3u opened #6 "Community standards"
- [x] Code of Conduct
- [ ] Contributing
- [x] License
- [x] pretty, informational readme
- [x] Usage docs

[2020-07-19 21:19] b3u opened #7 "Mobile first!"

[2020-07-20 02:40] #1 closed

[2020-07-20 15:56] b3u opened #8 "Move note pages to subdirectory"
this way, users can use the template to set up their own website.

[2020-07-20 16:39] #8 closed

[2020-07-20 22:39] b3u commented on #5
Related to #2

[2020-07-21 20:14] #7 closed

[2020-07-21 20:18] b3u commented on #6
Is `contributing.md` necessary?

[2020-07-22 23:18] #6 closed

[2020-07-24 04:43] RosieCampbell opened #9 "Allow subfolders within the notes folder"
I'd like to be able to organize my notes into folders e.g. 'Recipes', 'Evergreen notes' etc - currently this doesn't work.

I'm not sure if the folder hierarchy should be reflected in the URL (e.g. `/Recipes/Tomato-soup`) or if it should just resolve to the note name (e.g. `/Tomato-soup`). Maybe this could be configurable?

[2020-07-24 04:44] RosieCampbell opened #10 "Support blog posts"
Currently the template only supports notes - I'd like it to also support blog posts so I can use it to create a complete personal website.

[2020-07-24 04:45] RosieCampbell opened #11 "Search function"
I'd like to be able to bring up a search bar to search across all content on the site.

[2020-07-24 04:47] RosieCampbell opened #12 "Draft option for notes and blog posts"
I'd like to be able to write notes and blog posts without having them be immediately published. This could work either via:
- A drafts folder, or
- YAML frontmatter specifying that it's a draft

[2020-07-24 05:28] RosieCampbell commented on #10
Just submitted a pull request with this functionality

[2020-07-24 16:38] b3u commented on #10
I like the idea of blog posts. I also want to keep the template simple, for people who only want the notes functionality. As a compromise, I could just write up a guide for adding a blog. Thoughts?

[2020-07-24 17:04] b3u commented on #9
Can you elaborate on that? It worked for me when I added a page within a subfolder.

The only thing was that when I linked to it, I had to include the subfolder in the link, as in `[[ subfolder/note | note]]`. This is important, because the subfolder could have a note with the same name as a note in the main folder.

[2020-07-24 20:55] RosieCampbell commented on #9
You're right! It works when I include the subfolder. Awesome!

[2020-07-26 01:51] RosieCampbell commented on #10
Yeah I definitely understand the desire to keep it simple. Adding a guide sounds good. We could also potentially have a separate repo that builds on this one that includes blog functionality and other stuff for people who want a full site.

[2020-07-26 02:00] b3u commented on #12
Is this more of a general 11ty framework question? We could still write a guide for this, or even add the code for it.

[2020-07-26 02:07] b3u commented on #11
Great idea.
Here are some relevant articles/solutions, for anyone tackling this issue:
- https://www.belter.io/eleventy-search/
- https://www.raymondcamden.com/2020/06/24/adding-algolia-search-to-eleventy-and-netlify
- site search w/t google ?

[2020-07-26 02:09] b3u commented on #9
This should probably be documented somewhere...

[2020-07-26 03:11] b3u commented on #9
Documented in [wiki faq](https://github.com/b3u/eleventy-garden/wiki/FAQ)

[2020-07-26 03:11] #9 closed

[2020-07-26 18:27] #12 closed

[2020-07-29 01:01] b3u commented on #2
Relevant link: https://sarahmhigley.com/writing/tooltips-in-wcag-21/#best-practices-summary

[2020-07-29 19:06] b3u commented on #2
See ba690e1

[2020-07-29 23:48] b3u commented on #10
closed via #13

[2020-07-29 23:48] #10 closed

[2020-07-30 01:57] b3u opened #15 "document adding pages to site + navbar"

[2020-07-30 01:58] binyamin opened #16 "document adding a blog"
see #10; h/t @rosieCampbell

[2020-07-30 21:23] #2 closed

[2020-08-09 14:58] binyamin opened #18 "Does this work with roam exports?"
- https://github.com/fabioberger/roam-migration

[2020-08-11 21:52] jarodise opened #19 "Page shifting when hover over backlink"
Hi, thanks for building this SSG template for digital gardening, I really like it. I found a small bug, It's very easy to reproduce and happens 100% of the time:
On the demo site, simply go to notes page, click on "easter egg" and then in the backlink section, when you hover over"Notes" the whole page will shift position when the preview pops up, creating a effect as if the page is shaking.
I thin

[2020-08-11 22:04] b3u commented on #19
@jarodise Hey, thanks so much for the feedback.

I was able to reproduce the bug you found. I think that there are some areas where the mouse is only half in the hover zone. That might be why it the scrollbar keeps disappearing. Thanks again for the issue.

[2020-08-12 17:21] b3u commented on #3
Styling this is very complicated. I don't think the feature is really necessary in the first place.

[2020-08-12 17:21] #3 closed

[2020-08-14 16:09] jarodise commented on #19
Hi, seems like the problem still exists.

[2020-08-14 16:18] binyamin commented on #19
Same situation?

[2020-08-14 16:21] jarodise commented on #19
Yeah, basically it's caused by the scroll bar showing up during the hovering, scroll bar is hidden by default and shows up when the hover popup goes below the bottom of the page.

[2020-08-14 16:22] jarodise commented on #19
I think the easy solution would be either complete hide the scroll bar or make it show all the time.

[2020-08-14 16:36] binyamin commented on #19
I notice that when I hover over the link, the footer shifts down as well. The modalset to `position: relative`, so when it comes appears it affects the page length. Setting it to` position: absolute` should fix this.

[2020-08-14 16:56] binyamin commented on #19
@jarodise Try it now.

[2020-08-14 17:02] jarodise commented on #19
I'm not sure if you pushed the update to your demo site, but from my end, the problem still persists, see the screen capture:

![Kapture 2020-08-14 at 12 00 01](https://user-images.githubusercontent.com/15899808/90274328-f98ac980-de25-11ea-82c1-7ab2671335f1.gif)

[2020-08-14 17:06] binyamin commented on #19
Weird. What's your screen size? What device?

[2020-08-14 17:18] jarodise commented on #19
I'm on Macbook Pro 13 inch Late 2015, however, I don't think it's device relevant, like I said earlier, the problem is caused by scrollbar showing up when the popup goes beyond the extend of the page bottom, so as long as the content is long enough to reach the bottom of the page, this problem will show up. no matter how big the screen or what the resolution is.

If everything is limited to the to

[2020-08-14 17:22] jarodise commented on #19
Notice the scroll bar:
![Kapture 2020-08-14 at 12 21 11](https://user-images.githubusercontent.com/15899808/90276005-cbf34f80-de28-11ea-839c-9daeeeddc1ab.gif)

[2020-08-14 19:25] binyamin commented on #19
Suggestion: If we move the popup away from the bottom of the screen, we might avoid the issue altogether.
![image](https://user-images.githubusercontent.com/39805353/90285459-f8679580-de41-11ea-90ac-ff23ddabfd6d.png)

I'm hesitant to have the scrollbar always present, because most websites don't act like that. I can't hide the scrollbar completely, because some pages would get cut off. That's why

[2020-08-17 19:03] binyamin commented on #19
@jarodise what do you think? :point_up:

[2020-08-18 13:34] jarodise commented on #19
yeah, I think this is a good solution.

another idea would be, having an on/off switch for preview popup, since this is the reason that's causing it.

[2020-08-18 17:18] jarodise commented on #19
yes, it works for me! thanks for the effort!

[2020-08-18 17:20] jarodise commented on #19
One last question: Do you know how I could apply the update on my forked repo?

[2020-08-18 17:20] #19 closed

[2020-08-18 17:24] binyamin commented on #19
Great question. I'm really not sure. Template repositories are pretty new to me. I'd imagine you could connect your repository to this one using git. I'll play around.

[2020-08-18 17:28] binyamin commented on #4
Maybe a better solution would be to write a guide on adding it.

[2020-08-18 23:17] jarodise commented on #19
Yeah, if you find an easy option, please kindly let me know, I've played with a few git commands I found on stackoverflow, but came across some errors about merge conflict, as someone who's really not technical, I don't know how I could go forward with this, I hope I don't have to delete and refork the template every time you push an update.

thanks!

[2020-08-26 07:57] rithwik opened #21 "Doesn't work with multi-word links"
Trying to use my Obsidian vault to generate the garden. The .md files have multi word titles with spaces.

Clicking on the generated links doesn't work out of the box. I could fix this by replacing the spaces by hyphens in all the filenames. This makes the links work, but the backlink discovery still fails.

Example: Clicking on the link generated by [[Keep things simple]] doesn't work when the or

[2020-08-27 13:16] binyamin commented on #21
@rithwik Thanks for the heads-up. I will get to work on the backlink discovery. As for the filenames, I feel like most often a space in a filename is url-encoded. (Links, for example, use `%20` instead of a space).

[2020-09-07 20:49] #21 closed

[2020-09-08 21:13] binyamin commented on #19
@jarodise I think I found a way for you to update it. Lmk if this works.

[code]
You may see merge conflicts (ie. lines of code which we both changed). VS code can help you resolve them.

[2020-09-09 16:32] binyamin opened #23 "Improve code comments for backlinks section"
More step-by-step details here:
https://github.com/binyamin/eleventy-garden/blob/6c43cba821470467347a977b45ad8560b38bb4a0/notes/notes.11tydata.js#L9-L48

[2020-09-30 13:32] SaysKez opened #26 "Backlinks only appear if the page's filename is lowercase"
First up, thanks for putting this together! I've been wanting to try out Eleventy and this has been the perfect opportunity.

**Bug:**
I created a test digital garden based on the template and added some of my own existing notes. I noticed that backlinks for pages only show up if the page's filename is entirely lowercase.

**What happens:**
Example: note1 links to Note2 and vice versa. note1 shows

[2020-09-30 13:57] binyamin commented on #26
Thanks for the heads up! And I appreciate the detailed bug report.

[2020-10-01 09:08] SaysKez opened #27 "Only generate links for pages that exist"
In a digital gardens, you may have a [[wiki link]] to a note that does not yet exist or is in a private folder. It would be great if links to pages that do not yet exist were left in the double bracket style or could be handled separately instead of being converted to a html link which will only end up at a 404 (but anyone viewing the notes does not know this until they click on the link).

[2020-10-01 11:36] binyamin commented on #27
how about if the `href` became a `#`?

[2020-10-01 13:34] SaysKez commented on #27
That would be better than a 404. Maybe even if the hover preview content could default to something like 'note not yet created' or similar.

Though I still the ideal would be to have some way to remove the link entirely and/or allow them to be styled differently. As long as it looks like a link, you expect it to function like other links so clicking and not going anywhere would still be jarring (e

[2020-10-05 16:37] binyamin opened #28 "Can't link to notes homepage"
## Describe the bug
There's no way to link to the notes homepage (`/notes/`), via wikilinks.

link text|href|backlink?
---|---|---
`notes`|`/notes/notes`|yes
`/` or `/notes`|`/notes/notes`|no
`.` or `./`|n/a|no

## Expected behavior
**In General**: Links including filename, or a relative path _to_ the file, should point to the specified file.
**Here**:  Accept `/` and `./` (relative paths), and `n

[2020-10-05 18:02] itsthecheat commented on #11
Hello,
If this is still available I'd be happy to work on it!

[2020-10-05 18:07] binyamin commented on #11
@itsthecheat Sure! Lmk if you need anything.

[2020-10-05 18:28] #23 closed

[2020-10-07 15:08] oridov opened #29 "Obsidian style nested links are not resolved"
[code]

Obsidian knows how resolve a `[[inside]]` link in `index.md`.
Would be great if this will be supported here, too, so we could use this to directly render a vault.

[2020-10-07 19:44] ScootRay opened #30 "Question from a total noob"
I'd love to use this but I'm a total newbie and unsure how to work this.

Per your directions, I dropped my Obsidian files into the notes folder and ran NPM START but all I see is your sample site. How do I get it to process my own files and do I need to make an index of some sort?

Thanks!
Ray

[2020-10-07 23:51] binyamin commented on #30
I'm sorry that you're encountering issues. It's a bit difficult to debug issues without a reproducible test case, but here goes!
1. Did you run `npm install`?
2. I hope you didn't _replace_ the notes folder. There's one file, notes.11tydata.js, which needs to remain.
3. The notes are on a subpage (ie. localhost:8080 shows the main site. Notes are on localhost:8080/notes/)

[2020-10-08 22:59] ShannaSeigel opened #31 "Hosting through GitHub?"
Hi fellow Maryland person!

I saw your link from Obsidian and was checking out your project. I have pretty limited development experience (if development is even the right word here) and haven't worked with websites in a looooong time. You mentioned hosting on Netlify or elsewhere in "Getting Started." Could the site just be hosted from a GitHub repo of notes?

[2020-10-09 00:26] binyamin commented on #31
👋 Hello!

I'm not sure what you meant to ask, so here are a couple possible answers 😜.
- Could you host the website with [GitHub Pages](https://pages.github.com)?\
Yes, but I find Netlify much easier.
- Could you store the notes on GitHub instead of Netlify?\
You _can't_ store the notes on Netlify. You would store the notes on GitHub, and Netlify would use the GitHub repository to host the website

[2020-10-14 17:06] binyamin commented on #31
resolved on discord

[2020-10-14 17:06] #31 closed

[2020-10-14 17:10] SaysKez commented on #26
Removing `.toLowerCase()` from the link location: `// Extract link location
                    m.slice(2,-2).split("|")[0]
                        .toLowerCase()
                        .replace(/[^\w\s-]+/g,'')
                ));`

in the `notes.11tydata.js` file appears to fix the issue and display backlinks for files with uppercase characters (as long as they have no special characters or das

[2020-10-14 22:20] binyamin commented on #26
@SaysKez That makes sense. I'm getting the bug anyways, but I'll play around with it.

[2020-10-14 23:28] #26 closed

[2020-10-15 08:36] tannerdolby commented on #4
Hi @binyamin -- I'm happy to take on this issue.

[2020-10-15 14:03] binyamin commented on #4
@tannerdolby Thanks so much! By the way, I did something similar [in my personal site](https://github.com/binyamin/binyam.in/blob/2df26cd3d65ed692c08ae29c95fd1a57cf281158/eleventy/markdownIt.js#L27-L34). Also, I just remembered: with #11, could this become a search feature instead of a dedicated page?

[2020-10-21 00:37] tannerdolby commented on #4
@binyamin I've prototyped something up based on the [similar thing](https://github.com/binyamin/binyam.in/blob/2df26cd3d65ed692c08ae29c95fd1a57cf281158/eleventy/markdownIt.js#L27-L34) you did on your website.

Within `.eleventy.js`, I utilized a similar linkify `.add` method to look for any `#tag` links within markdown files. This is using a hardcoded URL `/notes/tag/art/` until #11 gets implement

[2020-10-21 16:50] binyamin commented on #11
@itsthecheat Are you still working on this? Asking because #4 will be affected by this feature.

[2020-10-21 16:58] binyamin commented on #4
@tannerdolby Can you make this a PR, or a draft PR, so we can use GitHub's usual annotation tools?
- I'd like to stick with liquid for the tag template. A single templating engine would probably be easiest for users.
- I actually prefer the space in the `easter%20egg` filename. Users may be coming from Obsidian, where this is the default behavior for new files. See #21.
- I might start working on

[2020-10-21 17:11] tannerdolby commented on #4
@binyamin Yes I will create a PR for this.

- Ok, I will revert the `tags.njk` file to `liquid.njk`. I agree, its probably best to only use liquid templates since that is the default templating engine in Eleventy.
- Ah, yes I understand better after seeing #21. I will update my local copy to keep the space in `Easter egg.md` as `easter%20egg`.
- Wonderful. I had a look at the `elasticlunr` [articl

[2020-10-22 14:03] binyamin commented on #11
@tannerdolby @RosieCampbell How many notes should we expect to be searching through?

[2020-10-22 14:37] binyamin opened #34 "Getting started guide is unclear"
(Reported on discord.)

cc @sayskez @Vasallius

[2020-10-22 19:06] tannerdolby commented on #11
I was asking myself this question last night. Which made me think: How many hashtags should the project support? Currently the tags in #33 are hardcoded to look for (#art, #easter, #food) to produce lists of related notes.

Right now the project has 4 notes.

- art.md
- food.md
- bar.md
- Easter egg.md

I think we could expect to search for around 10 notes or < 20. Where this ceiling of notes to b

[2020-10-22 19:23] binyamin commented on #11
@tannerdolby My intent was more that the search will get slower with more documents. If possible, I don't want to manually limit the number of items searched.

I don't think we should limit the number of possible hashtags. I don't want to make users comb through their notes, looking for which tags they use.

[2020-10-22 19:30] tannerdolby commented on #11
@binyamin I agree, the search will definitely become slower with more documents. I was only giving my thoughts for an expected number of notes within `/notes/` to be searching through.

Agreed, the implementation I proposed in #33 will have to be updated to dynamically create related lists rather than what I've spun up for the first prototype.

[2020-10-22 20:18] francofaa opened #35 "Preview not appear on hover"
**To Reproduce**
Steps to reproduce the behavior:
1. `npm start` in terminal in folder
2. In browser, navigate to "bar" page
3. Hover over link "Testing"
4. Testing preview is not visible. Also when navigating to Testing page, backlink to "bar" is not present

Forked repo here: https://github.com/francofaa/ArgotWiki/

**Expected behavior**
Preview should appear on hover on testing link. Backlink t

[2020-10-23 13:46] binyamin commented on #35
Thanks for opening the issue. I'm in middle of debugging this.

[2020-10-23 13:54] binyamin commented on #35
Okay, I found the problem. It was expecting a period, in order to construct the preview.

[2020-10-23 14:21] #35 closed

[2020-11-06 16:06] binyamin opened #36 "Links don't work when they start with emojis"
_Reported by @vasallius on discord_

[2020-11-10 14:29] ronykris opened #37 "Need help with configuring 11ty-garden with an existing 11ty-ghost deployment."
**Describe the bug**
I need help to configure 11ty-garden within an existing 11ty-ghost deployment.

**To Reproduce**
Nothing to reproduce as this is not a bug. But I do not know how to reach you.

**Expected behavior**
- I have an eleventy site that's fed with content from my ghost deployment.
- I am looking for an integration with this where my base url has something like Notes (similar to About

[2020-11-10 14:52] binyamin commented on #37
I found a couple links which might help you.
- official ghost docs for 11ty (https://ghost.org/docs/api/v2/eleventy/
- official ghost starter for 11ty (https://github.com/TryGhost/eleventy-starter-ghost)
- random tutorial (https://david.darn.es/tutorial/2019/06/01/use-eleventy-to-generate-a-ghost-blog/)

You said that you already have an 11ty-ghost deployment. Are you already getting some content

[2020-11-10 14:53] binyamin commented on #37
"But I do not know how to reach you." good point. I'll put a link somewhere. How about the wiki?

[2020-11-10 14:59] ronykris commented on #37
I have a text sent out to you on twitter DM. So, I already have eleventy-ghost configured and getting content from Ghost. I now want to my md files with backlinks to show up under "notes" in eleventy.

[2020-11-10 15:01] binyamin commented on #37
Got it. Did you check out the links I sent?

[2020-11-10 15:01] ronykris commented on #37
I need the digital garden integrated to my existing 11ty site and for that I was hoping to use your template.

[2020-11-10 15:02] ronykris commented on #37
official ghost starter for 11ty (https://github.com/TryGhost/eleventy-starter-ghost) This was what i followed to get 11ty-ghost configured. It does have info on integrating the 11ty-garden

[2020-11-10 15:07] ronykris commented on #37
All I need is any thing that will read a markdown folder and parse the [[ links.

[2020-11-15 04:53] ronykris opened #38 "List of backlinks are not reported in new MD files"
**Describe the bug**
I have created a set of new notes with wikiinks. The list of reference pages of the note I'm in is not getting computed and displayed in the backlinks section of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://epic-johnson-6b6441.netlify.app/notes/easter%20egg/'
2. Click on 'Random Notes' in the backlinks section.
3. List of backlinks in the back

[2020-11-15 19:37] binyamin commented on #38
I can't find any pages linking to `/notes/random-notes` or `/notes/subnotes/random-notes`. The backlinks section is just a list of all notes which contain a link to the current page.

[2020-11-15 19:46] binyamin commented on #37
@ronykris Maybe you missed what I said before. Did you look at the links I sent you? What questions did they _not_ answer? (https://github.com/binyamin/eleventy-garden/issues/37#issuecomment-724752184)

[2020-11-16 05:41] Sholanki commented on #37
@binyamin I was trying out the same thing. I went through the 3 links posted by you. I am trying to integrate digital garden by using your repo. The integration is successful, but I am unable to do the backlinks integration. Any help will be appreciated.

I have created 'notes' folder inside 'src' folder and 'notes.11tydata.js' inside notes folder where the backlinks functionality is present. I ha

[2020-11-16 17:32] binyamin commented on #37
@Sholanki sounds like you're doing it from scratch. Do you have an example repo for me?

[2020-11-20 15:29] Sigafoos opened #39 "Allow Obsidian style embedded links"
**Is your feature request related to a problem? Please describe.**
I've been making heavy use of Obsidian's "embed" syntax, ie

[code]

But these aren't rendered.

**Describe the solution you'd like**
The embedded notes/files are either iframed in or their content is included in the html.

[2020-11-20 21:14] binyamin commented on #39
@Sigafoos thanks for the suggestion! As far as I know, this syntax is specific to Obsidian, so adding it would be tricky. Are there certain filetypes which are valid for Obsidian embeds? I know that markdown and images are valid.

[2020-11-21 21:02] Sigafoos commented on #39
Hm, you're right. Since it's nonstandard, this would basically become an "Obsidian focused digital garden", or else become bloated with lots of different PKM software stuff. If you'd like to close this I understand.

But: here are the [file formats Obsidian can embed](https://publish.obsidian.md/help/Accepted+file+formats):

* Markdown files: md;
* Image files: png, jpg, jpeg, gif, bmp, svg, tiff;

[2020-12-14 21:04] r357 commented on #28
Hi, I'm not sure if this helps (I'm not very familiar with js), but I noticed that backlinks don't appear in case of folders inside the notes folders. For example:

Linking [[Music/Production.md]] in the index.m creates a clickable link on the Music index site, but the Production site won't show a backlink. However, linking [[Production]] in the index will create a non-clickable link on the Music

[2020-12-14 21:52] binyamin commented on #28
@r357 no, you're doing the right thing. This is a bug. Would you mind opening an issue, so we can keep track of this?

[2020-12-15 08:35] r357 opened #41 "Links to subfolders don't work as expected"
**Describe the bug**
Links don't work in case when notes are in subfolders. They either don't translate into a working link or a backlink isn't created. See below.

**To Reproduce**
Consider the following notes and folders:

Linking [[Music/Production.md]] in the index.md creates a clickable link on the Music index site, but the Production site won't show a backlink. However, linking [[Production]

[2020-12-27 00:13] binyamin commented on #36
Note to self: the wikilink regex doesn't like emoji. See https://mathiasbynens.be/notes/es-unicode-property-escapes#emoji how to update the regex.

[2020-12-27 18:37] #36 closed

[2020-12-30 13:23] gerwitz commented on #11
FWIW, I implemented search on my personal Eleventy site with lunr (the "father" of Elasticlunr) and it works brilliantly and performs fairly well with nearly 1,000 pages.

[2021-01-05 15:51] erwinlauener opened #44 "Is download broken?"
Hi

I am very interested in installing eleventy garden. Neither installing the zip container-files nor the git clone works.
This is what npm audit returns:

Thank you for installing EJS: built with the Jake JavaScript build tool (https://jakejs.com/)

added 415 packages from 398 contributors and audited 415 packages in 8.819s

11 packages are looking for funding
  run `npm fund` for details

found

[2021-01-05 18:27] binyamin commented on #44
@erwinlauener Thanks for checking in. You can just ignore this.

The reason for the error is that eleventy has a deep dependency (axios) which is outdated, and that old version has a security issue. As far as I know, we need to wait until the dependency which required axios (localtunnel) updates its own dependencies. See localtunnel/localtunnel#377

[2021-01-06 09:04] erwinlauener commented on #44
Many thanks for your quick answer. I’ ll get it a new try soon.

erwinlauener

[2021-01-26 22:31] binyamin commented on #44
@erwinlauener should be totally fixed now.

[2021-01-26 22:31] #44 closed

[2021-01-26 22:47] binyamin commented on #30
@ScootRay As this was a question as opposed to a bug/feature, I'm closing it. Feel free to start [a discussion](https://github.com/binyamin/eleventy-garden/discussions) if you still need help.

[2021-01-26 22:47] #30 closed

[2021-01-26 22:48] binyamin commented on #37
@ronykris @Sholanki As this issue is old, and it was a question as opposed to a bug/feature, I'm closing it. Feel free to start [a discussion](https://github.com/binyamin/eleventy-garden/discussions) if either of you still need help.

[2021-01-26 22:48] #37 closed

[2021-02-16 11:48] djdrysdale commented on #10
@RosieCampbell I'd be interested in incorporating a blog with my notes—did you manage it?

[2021-03-11 17:57] binyamin commented on #34
I'm not sure what I meant by this. It's too vague, so I'm closing it.

[2021-03-11 17:57] #34 closed

[2021-04-01 06:59] jkarttunen commented on #4
What do you think about adding related tags? (Tags that are included in pages with this tag). I found this useful to access othervice orphan pages.

![Screenshot 2021-04-01 at 9 58 39](https://user-images.githubusercontent.com/914822/113255840-fcf99500-92d0-11eb-910a-a494f2ab79fd.png)

[2021-04-01 07:07] jkarttunen commented on #4
In case someone want this, here is tags.11tydata.js i used ^

`
function onlyUnique(value, index, self) {
    return self.indexOf(value) === index;
  }
const getTag = p => (p.data.tags || [])
const flatten = (memo, current) => memo.concat(current);

module.exports = {
    layout: "tags.html",
    type: "tag",
    eleventyComputed: {
        relatedTags: (data) => {
                const tags = dat

[2021-04-01 18:23] binyamin commented on #4
@jkarttunen That's a pretty neat idea! It'd have to wait until the tag pages actually exist, however. Can you please open another issue, so I can keep track of it?

[2021-05-02 05:52] erwinlauener opened #48 "No Backlinks"
Hi
I put a lot of files in some folders as you wrote: „Q: Can I have subfolders in my notes? A: Of course! Remember to link to the subfolder, like [[ subfolder/note ]]“.
Do do so I realized, that the app doesn‘t represent the backlinks anymore. Any suggestions? Thx.

[2021-05-12 09:44] erwinlauener commented on #48
Thx

[2021-05-20 16:30] binyamin commented on #48
@erwinlauener Do you mind if I close the issue?

[2021-05-21 13:43] erwinlauener commented on #48
not at all. but getting a solition would be fine…

[2021-09-14 03:26] #41 closed

[2021-10-03 14:17] binyamin commented on #48
@erwinlauener This should be easier now, as of https://github.com/binyamin/eleventy-garden/pull/51.

[2021-10-03 15:58] renovate[bot] opened #55 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency markdown-it to ^12.2.0
 - [ ] Update dependency markdown-it-attrs to ^4.1.0

## Open

These updates have all been creat

[2021-10-03 17:14] erwinlauener commented on #48
Thanks a lot!

Freundliche Grüsse, Erwin Lauener
Blog Cidec | Cidec.ch | Twitter

[2021-10-13 12:37] asbjornb opened #61 "GitIgnore filters eleventy output"
**Describe the bug**
Currently everything in .gitignore is ignored when serving the site with npm start.

**To Reproduce**
1. Clone the template
2. Add `notes/` to .gitignore
3. run npm install from terminal
4. run npm start from terminal

**Expected behavior**
I can't say for sure if .gitignore is meant to be respected by 11 in this project, but I think not due to the useGitIgnore: false.
If so t

[2021-10-13 20:21] asbjornb commented on #15
I'm not sure if that is doable - I don't know github well yet. But if it is that would be ideal. Being able to issue pull requests to the wiki that you could then merge if they make sense would be an easy and sensible process.

[2021-10-14 18:27] binyamin commented on #15
Have a look at [the `wiki2site` branch](https://github.com/binyamin/eleventy-garden/tree/wiki2site). I'm playing around with making the website itself consist of just the wiki.

[2021-10-14 19:10] #61 closed, assigned to nobody

[2021-10-14 20:16] asbjornb opened #63 "Can't serve current version"
**Describe the bug**
Can't serve the site currently

**To Reproduce**
1. Clone/fork current repo
2. Run `npm install` and `npm start`

**Expected behavior**
Serves the site to localhost:8080

**Environment (please complete the following information):**
 - Windows 10 Business

**Additional context**
Not sure if it's a windows thing or some local thing. Output says it can't find head.html in include

[2021-10-18 20:56] asbjornb commented on #63
Thanks @harttle !
I'm not completely sure how to utilize that. I tried adding `"liquidjs": "^9.28.1"` to my `package.json` file and then doing a combination of deleting node_modules, npm prune, npm install and then running npm start. Error seems similar but doesn't include absolute path in the log.
[code]

I will try to see if I can reproduce on another windows pc and then a linux machine tomorrow

[2021-10-19 20:48] renovate[bot] opened #64 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-11-13 22:28] asbjornb commented on #63
It seems the new 11ty beta didn't help although it ups the liquidjs reference. Going back to canary.23 works still. Not sure if this is unrelated to the liquidjs version. Other syntax might have changed in between versions or something. I owe some more tests when I can fin the time.

[code]

and

[code]

[2021-11-14 22:24] asbjornb commented on #63
Updating to beta then readding the quotes on `<% include`-statements seems to have solved this. I'm not sure if upping the dependency in eleventy garden to the beta version would be ok with you but it would close this issue :)

[2021-11-15 22:29] binyamin commented on #63
@asbjornb that would be totally fine. Will do.

[2021-11-15 22:45] binyamin commented on #63
1c7ce82db962252bda720be36690b9a315318453 should fix this

[2021-11-15 22:45] #63 closed

[2021-11-16 23:00] asbjornb commented on #15
Sorry for the late answer. I think that model looks great. Just need to link the new wiki from the project readme.md before merging imo.

[2021-11-20 01:23] asbjornb commented on #15
I added some stuff to the wiki on my fork. Will try to add documentation for this issue and add link to readme.md as well before submitting a pull request. Maybe we should start a [discussion](https://github.com/binyamin/eleventy-garden/discussions) regardomg the direction, format etc of the wiki.

[2022-02-19 02:04] jebeaudoin opened #77 "Conflict between wikilinks and permalinks"
**Describe the bug**
I hate even to call this a "bug" -- but if I use Eleventy's permalink  functionality to rewrite a URL, the wikilinks functionality won't be able to convert the link correctly.

**To Reproduce**
1. Successfully install eleventy-garden
2. Note that the regex substitution binyamin uses replaces any white space in a filename with a %20, so that a note named "my great file" produce

[2022-02-20 16:59] binyamin commented on #77
Thanks for bringing this up. When you write "wikilinks functionality", are you referring to how `[[ cool title ]]` links to `/notes/cool%20title/`? I want to be sure I'm understanding this correctly.

[2022-02-20 19:12] jebeaudoin commented on #77
Yes, that is correct. Your example is spot on:

[[ cool title ]] links to /notes/cool%20title/?

When I use eleventy's permalinks, I need:

[[ cool title ]] to link to /notes/cool-title/

I'm only guessing about the cause because, as I've said, I'm not a coder.
But I wondered if it is in the regex you created?

BTW, I'm loving the work you did to get this going! Thanks so much.

On Sun, Feb 20, 20

[2022-03-19 07:58] asbjornb commented on #77
I'm not strong in this whole setup but I think the wikilinks to url's mostly happens inside of markdownit. You might be able to tweak behavour from inside your .eleventy.js file  - line 9-23 sets some options for that component. Probably check out documentation here: https://github.com/markdown-it/linkify-it

However doing so might also break backlinking in this templates notes. You might need to

[2022-03-19 15:11] asbjornb opened #79 "Separate content from config"
Personally I'd love to have content separated as much as possible from code and configs.

**Is your feature request related to a problem? Please describe.**
The issue with the current setup is it makes syncing updates to the template into my fork more painful/less clean than it needs to be.

**Describe the solution you'd like**
Move notes, assets, about.md, index.md etc. into a content sub-directo

[2022-03-20 17:12] binyamin commented on #79
I can see the problem you're identifying. I agree that this is important.

Two other solutions:
### Store the contents externally
With my own site, I store the wiki contents in a separate repository. During the build process, I run [a script](https://github.com/binyamin/snippets/blob/main/fetch-repo-contents.js) which pulls the contents, and writes them to the correct folder before running Elevent

[2022-03-20 21:18] asbjornb commented on #79
Thanks for the quick feedback.

I already do your first solution for my notes - though a simpler pure delete and copy script that works on my filesystem with my current repo-folder-setup. I don't think that excludes my proposed change - having content a bit more separated makes that process easier.

Making it a plugin sounds like a great idea, but alas I don't think I could help much with that. I

[2022-03-28 15:07] Agencye commented on #16
One’s life would be completely out of mess thus eradicating all the depression and frustrations through the enticing session of exotic love spend under the influence of _**[Noida Escorts]([url](https://www.noida-escort.com)**

[2022-04-05 17:30] henrybigbuds commented on #16
https://premiumcookies.shop/product/order-honey-bun-pre-roll-online/

[2022-04-12 20:07] jebeaudoin commented on #79
I'm a newbie, but could you use [GitHub submodules](https://docs.github.com/en/pages/getting-started-with-github-pages/using-submodules-with-github-pages) for separating content from config?

[2022-04-28 09:45] erwinlauener opened #81 "Syntax highlight prism"
I can't implement eleventy's syntax highlight 'prism' into the .eleventy.js file without bugs. Help is needed. 🙏🏻

[2022-04-28 22:30] binyamin commented on #81
What bugs are you seeing?

[2022-04-29 09:33] erwinlauener commented on #81
Hi Aron

Error: EleventyConfig.addPlugin expects the first argument to be a function.

I tried to correct the .eleventy.js, but another errors appeared. Im on an old MacOS (10.11.6) Maybe the installation of the syntax highlight plugin isn’t as it should be…
However, thanks for your answer

Erwin

[2022-06-18 18:53] xplosionmind opened #83 "Notes graph"
**Is your feature request related to a problem? Please describe.**
Graphically representing links among notes.

**Describe the solution you'd like**
Display a graph of all links among notes.

**Describe alternatives you've considered**
none

**Additional context**
- my specific needs: xplosionmind/tommi.space#8
- example of a wonderful plugin, for Jekyll: [jekyll-graph](https://github.com/manunamz

[2022-06-18 18:53] xplosionmind opened #84 "Package into an Eleventy plugin"
**Is your feature request related to a problem? Please describe.**
The features are tied to this repository

**Describe the solution you'd like**
Package several different features into plugins, so that they can be easily updated, implemented and installed in any Eleventy website. Specifically:
- [ ] leave all of the wikilinks handling to [markdown-it-wikilinks](https://github.com/jsepia/markdown-

[2022-06-19 16:00] binyamin commented on #84
I can totally see the need here. Initially, I thought about just making a plugin. The problem is, the backlinks rely on computed data. The last time I checked, you can't add computed from within a plugin.

[2022-06-19 17:16] xplosionmind commented on #84
This sounds awesome! Thanks a lot 🚀

[2022-06-19 21:21] binyamin commented on #84
@xplosionmind _Et voilà_ - https://www.npmjs.com/package/eleventy-plugin-backlinks

[2022-06-19 23:05] binyamin commented on #81
@erwinlauener I'm closing this issue, since it's not related to the template itself.

I recommend asking on [Eleventy's discord server](https://www.11ty.dev/blog/discord/) or opening a discussion on the [ main repo's GitHub discussions](https://github.com/11ty/eleventy/discussions).

[2022-06-19 23:05] #81 closed

[2022-06-19 23:06] binyamin commented on #38
@ronykris I'm closing this, since you haven't responded. If you have further information, feel free to reopen it.

[2022-06-19 23:06] #38 closed

[2022-06-19 23:10] binyamin commented on #5
As per https://github.com/binyamin/eleventy-garden/discussions/71#discussion-3765981, I'm considering this one "out of scope".

[2022-06-19 23:10] #5 closed

[2022-06-19 23:13] binyamin commented on #11
I'm considering this out-of-scope. See https://github.com/binyamin/eleventy-garden/discussions/71#discussion-3765981

[2022-06-19 23:13] #11 closed

[2022-06-19 23:13] binyamin commented on #16
As per https://github.com/binyamin/eleventy-garden/discussions/71#discussion-3765981, I'm considering this one "out of scope".

[2022-06-19 23:13] #16 closed

[2022-06-20 16:38] binyamin commented on #18
In light of https://github.com/binyamin/eleventy-garden/discussions/71#discussion-3765981, I'm considering this issue "out-of-scope".

[2022-06-20 16:38] #18 closed

[2022-06-28 09:50] jrekier opened #87 "Backlinks behave differently in local and on github page"
**Describe the bug**
The expected backlink appears in local (image 1), but not when pushed to my (project) github page. Interestingly, another backlink appears in that case (image 2).

**Screenshots**
![image](https://user-images.githubusercontent.com/9407736/176148162-2381f740-9585-4160-8315-b096057be576.png)
![image](https://user-images.githubusercontent.com/9407736/176148344-95edc200-aede-4b64-

[2022-06-29 23:37] binyamin commented on #87
I assume that it's related to how the GitHub Pages site exists in a sub-directory. Unfortunately, I have no idea what's going on. If you could create a minimal test-case, that might help me debug this.

Also, I recently made an Eleventy _plugin_ which encapsulates this template's logic. Maybe it will work differently. It just plugs into an existing eleventy site. https://github.com/binyamin/eleven

[2022-06-29 23:50] binyamin commented on #83
I think this would work well as a separate plugin and/or tutorial. I think it's too complex for this template. People should be able to understand the code, so they can customize it. For more info, see https://github.com/binyamin/eleventy-garden/discussions/71#discussion-3765981

[2022-06-29 23:50] #83 closed

[2022-07-06 00:39] binyamin commented on #87
@jrekier Yeah, I guess you would need a GitHub page to go with it. If you can do that, it would be great.

[2022-09-27 16:13] jrekier commented on #87
Hi @binyamin,

I'm finally getting back to this. I haven't had time to build a GitHub page from the ground up, but I think you should be able to reproduce the issue using my actual page: https://github.com/jrekier/mind-garden

I have tried to look at your plugin but I'm having difficulty with the practical implementation.

Thanks for your help,

[2022-10-26 23:55] #87 closed